<VirtualHost *:443>
  ServerAdmin webmaster@localhost
  DocumentRoot /var/www/html

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined

  SSLEngine on
  SSLCertificateFile    /etc/ssl/certs/ssl-cert-snakeoil.pem
  SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key

  ProxyPass /nuxeo/ http://nuxeo:8080/nuxeo/
  ProxyPassReverse /nuxeo/ http://nuxeo:8080/nuxeo
  ProxyPreserveHost On
  RequestHeader append nuxeo-virtual-host "https://{{VIRTUAL_HOST}}/"

  #Redirect / /nuxeo/
  <Location "/nuxeo">
          AuthType shibboleth
          ShibRequestSetting requireSession 0
          ShibUseHeaders On
          Require shibboleth
  </Location>
</VirtualHost>
